.navbar {
  min-height: 70px;
  background-color: orangered;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  text-decoration: none;
}

.brand-logo {
  width: 45px;
  height: 45px;
  object-fit: contain;
  background: white;
  border-radius: 8px;
  padding: 3px;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  border-radius: 8px;

  padding: 9px 16px;

  background: rgb(255, 95, 37);
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.2s ease;
}

.logout-btn:hover {
  background: rgb(169, 45, 0);
  transform: translateY(-1px);
}

.logout-btn i {
  font-size: 14px;
}
@media (max-width: 576px) {
  .navbar {
    min-height: 60px;
  }

  .brand-logo {
    width: 38px;
    height: 38px;
  }

  .brand-name {
    font-size: 16px;
  }

  .logout-btn {
    padding: 8px 10px;
    font-size: 13px;
  }

  .logout-btn span {
    display: none;
  }

  .logout-btn i {
    font-size: 16px;
  }
}
