<form (ngSubmit)="logIn()" class="form shadow mt-5 mx-auto">
  <p class="title">Sign In</p>
  <label>
    <input
      class="input"
      type="email"
      name="email"
      placeholder="Email"
      required
      [formControl]="userEmail"
    />

  </label>

  <label>
    <input
      class="input"
      type="password"
      name="password"
      placeholder="Password"
      required
      [formControl]="userPassword"
    />
  </label>
  
  <button class="submit" type="submit">Submit</button>
  <p class="signin">Don't have an acount ? <a routerLink="/signup">Signup</a></p>
</form>
