<form (ngSubmit)="logIn()" class="form shadow mt-5 mx-auto">
  <p class="title">Sign In</p>
  <label>
    <input
      class="input"
      type="email"
      name="email"
      placeholder="Email"
      required
      [(ngModel)]="userEmail"
    />
  </label>

  <label>
    <input
      class="input"
      type="password"
      name="password"
      placeholder="Password"
      required
      [(ngModel)]="userPassword"
    />
  </label>

  <button class="submit" type="submit">Submit</button>
  <p class="signin">Already have an acount ? <a href="#">Signin</a></p>
</form>
